@using WebApplication1.Controllers;

@section Styles {
    <link rel="stylesheet" href="/css/Home/_Layout.css" />
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Спецификация</title>
    @RenderSection("Styles", required: false)
</head>
<body>

    <div class="everything_but_footer">
        <header>
            <div class="header_menu" id="header_menu_cont">
                <div><h1>Добро пожаловать в помощник подбора масла!</h1></div>
            </div>
        </header>
        <div class="header_menu_links" id="header_menu_links">
            <a asp-controller="Home" asp-action="@nameof(HomeController.OilChooseCar)">Подбор по модели автомобиля</a>
        </div>

        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>&copy; 2023 Мой Интернет Магазин</p>
    </footer>
    @RenderSection("Scripts", required: false)
    <script>
        let header_menu_path = "../" + "Users/" + "HeaderHrefs";
        async function makeHeaderHrefs() {
            let response = await fetch(header_menu_path,
                {
                    method: 'GET'
                });
            let string = await response.text();
            document.getElementById("header_menu_links").innerHTML = string
                + document.getElementById("header_menu_links").innerHTML;
        }
        makeHeaderHrefs();
        
        let header_uname_path = "UserNameShow";
        async function makeHeaderHello(){
            let response = await fetch(header_uname_path,
                {
                    method: 'GET'
                });
            let string = await response.text();
            document.getElementById("header_menu_cont").innerHTML = string;
        }
        makeHeaderHello();
    </script>
</body>
</html>