
.maincontent{
    width:60vw;
}

aside{
    width:20vw;
    height:inherit;
    background-color: #f0f0f0;
}

.oilstable{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
}

.oilstable div{
    padding: 1em;
    align-items: center;
    text-align: center;
}

.oilstable div div{
    text-align: left;
}

.motordiv{
    margin-left: auto;
    margin-right: auto;
    position:relative;
    display:grid;
}

.motordiv input{
    margin-left: auto;
    margin-right: auto;
}

.motordiv h3{
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
}