

@section Styles {
    <link rel="stylesheet" href="/css/Home/_Layout.css" />
    <link rel="stylesheet" href="/css/Home/OilChooseCar.css" />
}

@section Title{
    Помощь
}

<div>
    <h1 style="color:green;">Как добавить масло так, чтобы его было видно пользователям приложения?</h1>
    <div>
        <h3 style="color:green;">
            Добавление масла проходит в 2 этапа и осуществляется, как правило, владельцем компании.
            <div>На первом этапе владелец компании открывает окно &laquo;Управление данными компании&raquo;, </div>
            <img src="/img/guide/oilAdd1.webp"/>
    <div>выбирает &laquo;Управление данными масел&raquo;,
</div>
            <img src="/img/guide/oilAdd2.webp" />
    <div>нажимает добавить,
</div>
            <img src="/img/guide/oilAdd3.webp" />
            <div>вводит данные о масле и сохраняет их.</div>
            <img src="/img/guide/oilAdd4.webp" />


    <div>На втором этапе владелец компании открывает окно Управления товарами(в разделе Управления данными компании),
</div>
<img src="/img/guide/merchAdd1.webp" />
    <div>пролистывает список уже имеющихся масел в самый низ,
    нажимает добавить,
</div>
            <img src="/img/guide/merchAdd2.webp" />
    <div>и устанавливает данные добавленного масла такими, какие ему нужны.
</div>
            <img src="/img/guide/merchAdd3.webp" />
        </h3>
    </div>



    <h1 style ="color:green;">Как работает система критериев по выбору масла по типу автомобиля?</h1>
    <div>
        <h3 style="color:green;">
            Сопоставление автомобиля и масел происходит в 2 шага.

            На первом шаге следует с аккаунта администратора сначала создать набор условий.
            <img src="/img/guide/condsAdd1.webp" />
            <img src="/img/guide/condsAdd2.webp" />
            <img src="/img/guide/condsAdd3.webp" />
            <img src="/img/guide/condsAdd4.webp" />
            <img src="/img/guide/condsAdd5.webp" />
            На втором шаге следует с аккаунта администратора создать автомобиль и выбрать нужный идентификатор набора условий, соответствующий автомобилю.
            <img src="/img/guide/carAdd1.webp" />
            <img src="/img/guide/carAdd2.webp" />
            Существует 3 критерия выбора масла по типу автомобиля: по вязкости и по классу качества и по самому объекту-маслу.

            Для того, чтобы масло считалось подходящим для автомобиля, оно должно удовлетворять всем трём критериям.

            Каждый критерий устанавливается несколькими условиями, имеющими свои приоритеты. Чем выше приоритет условия - тем оно важнее, 
            и условие с высоким приоритетом перекрывает условие с низким. Каждое условие может быть разрешающим, либо запрещающим. Масла, удовлетворяющие запрещающему условию,
            не используются, удовлетворяющие разрешающему - используются.

            Условие с самым низким приоритетом определяет принцип подходимости масел: если условие с самым низким приоритетом - разрешающее, то всё, что им или условиями с высшим
            приоритетом не разрешено, запрещено. Напротив, если условие с самым низким приоритетом - запрещающее, то все, что не запрещено этим условием или условиями с высшим
            приоритетом - разрешено.
            
            3 критерия, содержащие в себе несколько условий, формируют наборы условий. Наборы условий можно поставить в соответствие автомобилю.
        </h3>
    </div>
</div>