
    <div class="horizontalCells">
        <div class="oilPhoto">
            <img src="!testimg.webp" width="100%">
        </div>
        <div class="oilDescription">
            <div>
                <div>
                    <h3>Цена(за единицу товара, руб.):</h3><h5>333</h5>
                </div>
                <div>
                    <h3>Адрес магазина:</h3><h5>ыыыы</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="oilDescriptionBottom">

    </div>