<a asp-controller="Edit" asp-action="ConditionsList">В процессе</a>

<a asp-controller="Edit" asp-action="CarList">Не реализовано</a>
<a asp-controller="Edit" asp-action="UsersList">Не реализовано</a>
<a asp-controller="Edit" asp-action="CompanyList">Не реализовано</a>
<a asp-controller="Edit" asp-action="StoreList">Не реализовано</a>

<a asp-controller="Edit" asp-action="OilMerchList">Реализовано, плохая верстка</a>
<a asp-controller="Edit" asp-action="OilList">Реализовано, плохая верстка</a>

