@section Styles {
    <link rel="stylesheet" href="/css/Home/_Layout.css" />
    <link rel="stylesheet" href="/css/Home/Test.css" />
}

@section Title {
    Панель администратора
}

<ul>
    <li><a asp-controller="Edit" asp-action="ConditionsList">Управление условиями</a></li>
    <li><a asp-controller="Edit" asp-action="CarList">Управление автомобилями</a></li>
    <li><a asp-controller="Edit" asp-action="UserList">Управление пользователями</a></li>
    <li><a asp-controller="Edit" asp-action="CompanyList">Управление компаниями</a></li>
    <li><a asp-controller="Edit" asp-action="OilMerchList">Управление товарами</a></li>
    <li><a asp-controller="Edit" asp-action="OilList">Управление маслами</a></li>
</ul>


