@section Styles {
    <link rel="stylesheet" href="/css/Home/_Layout.css" />
    <link rel="stylesheet" href="/css/Home/Test.css" />
}

@section Title {
    Панель управления компанией
}

<ul>
    <li><a asp-controller="Edit" asp-action="coOils">Управление данными масел</a></li>
    <li><a asp-controller="Edit" asp-action="coCompanyView">Управление данными компании</a></li>
    <li><a asp-controller="Edit" asp-action="coMerches">Управление товарами</a></li>
</ul>


