@model WebApplication1.Models.ToRender.RenderBase;
@using WebApplication1.Controllers

@if (Model.User.Role.Name == "CompanyOwner")
{
    <a href="#">Управление данными компании</a>
}
else if (Model.User.Role.Name == "Admin")
{
    <a href="#">Панель администрирования</a>
}
else
{
    <a asp-controller="Users" asp-action="UserLogin">Вход/регистрация</a>
}